includeConfig "config/base.config"

// Manifest
manifest {
  name = 'NanoGen'
  author = 'Andrea Cossa'
  homePage = 'https://github.com/dimadatascience/scmseq_new.git'
  description = 'Preprocessing pipeline target-enriched long-reads.'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1'
}

// Profiles
profiles {
    debug { process.beforeScript = "echo $HOSTNAME" }
    docker {
        docker.enabled         = true
        docker.userEmulation   = { params.use_gatk_spark ? false : true }.call()
        charliecloud.enabled   = false
        podman.enabled         = false
        shifter.enabled        = false
        singularity.enabled    = false
        
    }
    singularity {
        singularity.autoMounts = true
        singularity.enabled    = true
        charliecloud.enabled   = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
    }
}

 
// Tracing
trace {
    enabled = true
    file = "trace.txt"
    overwrite = true
}

// Tracing
tower {
  enabled = false
}

