includeConfig "config/base.config"

// Parameters

params {

    input                   = ""
    outdir                  = "results"

    blaze_expect_cells      = 5000
    blaze_edit_distance     = 1

    minimap2_mindex         =  null
    minimap2_input_genome   =  null
    bedfile                 =  null

    window_width            = 100
    min_dist_umi_collapsing = 1
    min_base_quality        = 20
    min_fraction            = 0.75
    min_mapping_quality     = 20
    min_reads               = 2
    baseline_error          = 0.0001


    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = null
    help                         = false
    version                      = false

    // Schema validation default options
    validate_params                  = false

}


// Manifest
manifest {
  name = 'NanoGen'
  author = 'Andrea Cossa'
  homePage = 'https://github.com/dimadatascience/scmseq_new.git'
  description = 'Preprocessing pipeline target-enriched long-reads.'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1'
}

// Profiles
profiles {
    debug { process.beforeScript = "echo $HOSTNAME" }
    docker {
        docker.enabled         = true
        docker.userEmulation   = { params.use_gatk_spark ? false : true }.call()
        charliecloud.enabled   = false
        podman.enabled         = false
        shifter.enabled        = false
        singularity.enabled    = false
        
    }
    singularity {
        singularity.autoMounts = true
        singularity.enabled    = true
        charliecloud.enabled   = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
    }
}

 
// Tracing
trace {
    enabled = true
    file = "trace.txt"
    overwrite = true
}

// Tower
tower {
  enabled = false
}

