// Processes
process {
    
  errorStrategy = 'retry'
  maxRetries = 3

  // Long-reads
  withName: BLAZE {
    cpus = 12
    memory = { 30.GB * task.attempt }
    container = 'docker://acox1/scmseq:1.0'
  } 
  withName: MERGE_READS {
    cpus = 4
    memory = { 2.GB * task.attempt }
    container = 'docker://acox1/scmseq:1.0'
  }
  withName: MINIMAP2 {
    cpus = 12
    memory = { 25.GB * task.attempt }
    container = 'docker://acox1/scmseq:1.0'
  }
  withName: FIXTAGS {
    cpus = 1
    memory = { 1.GB * task.attempt }
    time = { 20.min * task.attempt }
    container = 'docker://acox1/scmseq:1.0'
  }
  withName: SPLIT_BAM {
    cpus = 8
    memory = { 20.GB * task.attempt }
    container = 'docker://acox1/scmseq:1.0'
  }
  withName: CONSENSUS {
    cpus = 1
    memory = { 3.GB * task.attempt }
    time = { 20.min * task.attempt }
    container = 'docker://acox1/scmseq:1.0'
  }
  withName: COLLAPSE {
    cpus = 1
    memory = { 1.GB * task.attempt }
    container = 'docker://acox1/scmseq:1.0'
  }
  withName: GENOTYPING {
    cpus = 1
    memory = { 5.GB * task.attempt }
    container = 'docker://acox1/scmseq:1.0'
  }

}