// mito-preprocessing

// Manifest
manifest {
  name = 'mito-preprocessing'
  author = 'Andrea Cossa'
  homePage = 'https://github.com/andrecossa5/mito_preprocessing.git'
  description = 'Preprocessing pipeline for lentiviral- and/or MT-variants-based lineage tracing.'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1'
}

// Profiles
profiles {

  local {
    // workDir = '/.../'
    docker.enabled = true
    docker.runOptions = '--volume /Users/:/Users/'
  }
  conda_gcampani{
    // workDir = '/.../'
    conda.enabled = true
    conda.envPath = '/hpcnfs/home/ieo6943/mambaforge/envs/NextFlow_G'

  }
  conda_local {
    // workDir = '/.../'
    conda.enabled = true
    conda.envPath = '/Users/IEO5505/mambaforge/envs/MI_TO'
  }
  hpc {
    // workDir = '/.../'
    executor.name = 'pbspro'
    process.queue = 'workq'
    singularity.enabled = true
    singularity.runOptions = '--bind /hpcnfs,/hpcscratch'
    executor.queueSize = 50
    executor.submitRateLimit = '50/1min'
    executor.exitReadTimeout = '5 min'
  }
  hpc_nocg {
    // workDir = '/.../'
    executor.name = 'pbspro'
    process.queue = 'nocg_workq'
    singularity.enabled = true
    singularity.runOptions = '--bind /hpcnfs,/hpcscratch'
    executor.queueSize = 50
    executor.submitRateLimit = '50/1min'
    executor.exitReadTimeout = '5 min'
  }
  hpc_garr {
    // workDir = '/.../'
    singularity.enabled = true
    singularity.runOptions = '--bind /data'
  }

}


//


// Processes
process {
    
  errorStrategy = 'retry'
  maxRetries = 3
  // scratch = '/scratch' 


  //


  // bulk_gbc
  withName: SEARCH_PATTERNS {
    cpus = 1
    memory = '1G'
    container = 'acox1/mi_to:1.3'
  }
  withName: EXTRACT_GBC {
    cpus = 1
    memory = '1G'
    container = 'acox1/mi_to:1.3'
  }
  withName: CORRECT_AND_COUNT {
    cpus = 1
    memory = { 5.GB * task.attempt }
    container = 'acox1/mi_to:1.3'
  } 
  withName: INFER_PREVALENCES {
    cpus = 1
    memory = '1G'
    container = 'acox1/mi_to:1.3'
  }
  withName: generate_run_summary_bulk {
    cpus = 1
    memory = '2G'
    container = 'acox1/mi_to:1.3'
  }
  withName: publish_bulk {
    cpus = 1
    memory = '2G'
    container = 'acox1/mi_to:1.3'
  }
  withName: collapse_output {
    cpus = 1
    memory = '2G'
    container = 'acox1/mi_to:1.3'
  }


  //


  // sc_gbc
  withName: SOLO {
    cpus = 6 
    memory = { 10.GB * task.attempt }
    container = 'acox1/nf-perturbseq:1.0'
  }
  withName: SPLIT_BARCODES {
    cpus = 1 
    memory = { 2.GB * task.attempt }
    container = 'acox1/mi_to:1.0'
  }
  withName: CONSENSUS_LENTI {
    cpus = 1
    memory = { 1.GB * task.attempt }
    container = 'acox1/mi_to:1.0'
  }
  withName: COLLAPSE_TSV {
    cpus = 1
    memory = { 5.GB * task.attempt }
    container = 'acox1/mi_to:1.3'
  }
  withName: CELL_ASSIGNMENT {
    cpus = 1
    memory = 5.GB
    container = 'acox1/mi_to:1.3'
  }
    withName: EXTRACT_FASTA {
    cpus = 1
    memory = 1.GB
    container = 'acox1/mi_to:1.0'
  }
  withName: generate_run_summary_sc {
    cpus = 1
    memory = { 1.GB * task.attempt }
    container = 'acox1/mi_to:1.3'
  }
  withName: publish_sc_gbc {
    cpus = 1
    memory = { 1.GB * task.attempt }
    container = 'acox1/mi_to:1.3'
  }    
  withName: SPLIT_BAM {
    cpus = 5
    memory = { 5.GB * task.attempt }
    container = 'acox1/samtools:1.1'
  }

  
  //


  // maester
  withName: MERGE_R1 {
    cpus = 4
    memory = { 1.GB * task.attempt }
    container = 'acox1/mi_to:1.3'
  }
  withName: MERGE_R2 {
    cpus = 4
    memory = { 1.GB * task.attempt }
    container = 'acox1/mi_to:1.3'
  } 
  withName: FILTER_10X_BAM {
    cpus = 4
    memory = { 5.GB * task.attempt }
    container = 'acox1/mi_to:1.3'
  }
  withName: FILTER_MAESTER_BAM {
    cpus = 4
    memory = { 5.GB * task.attempt }
    container = 'acox1/mi_to:1.3'
  }
  withName: MERGE_BAM {
    cpus = 4
    memory = { 10.GB * task.attempt }
    container = 'acox1/mi_to:1.3'
  }
  withName: CONSENSUS_MITO {
    cpus = 1
    memory = { 1.GB * task.attempt }
    container = 'acox1/samtools:1.0'
  }
  withName: GATHER_TABLES {
    cpus = 1
    memory = { 1.GB * task.attempt }
    container = 'acox1/mi_to:1.0'
  }
  withName: TO_H5AD {
    cpus = 1
    memory = { 5.GB * task.attempt }
    container = 'acox1/mi_to:1.3'
  } 
  withName: publish_maester {
    cpus = 1
    memory = { 1.GB * task.attempt }
    container = 'acox1/nf-perturbseq:1.0'
  }

  // Test
  withName: FGBIO_READ_FILTER {
    cpus = 1
    memory = { 1.GB * task.attempt }
    container = 'acox1/samtools:1.0'
  }
  withName: FGBIO_CUSTOM_FILTER {
    cpus = 1
    memory = { 1.GB * task.attempt }
    container = 'acox1/samtools:1.0'
  }
    withName: FGBIO_NO_FILTER {
    cpus = 1
    memory = { 1.GB * task.attempt }
    container = 'acox1/samtools:1.0'
  }

}
 
// Tracing
trace {
    enabled = true
    file = "trace.txt"
    overwrite = true
}

// Tracing
tower {
  // accessToken = 'eyJ0aWQiOiAyNn0uODg3NGVhMDMzZjdiNjBkMGUwMTRlNjAyYjA2ODQ5NDBhYjNkODRiNw=='
  // endpoint= 'https://seqera.ieo.it/api'
  enabled = true
  // workspaceId = '178653702436441'
}
