// SCM-seq 

// Manifest
manifest {
  name = 'SCM-seq new'
  author = 'Andrea Cossa'
  homePage = 'https://github.com/dimadatascience/scmseq_new.git'
  description = 'Preprocessing pipeline target-enriched long-reads.'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1'
}

// Profiles
profiles {

  local {
    // workDir = '/.../'
    docker.enabled = true
    docker.runOptions = '--volume /Users/:/Users/'
  }
  conda_local {
    // workDir = '/.../'
    conda.enabled = true
    conda.envPath = '/Users/IEO5505/mambaforge/envs/MI_TO'
  }
  hpc {
    // workDir = '/.../'
    executor.name = 'pbspro'
    process.queue = 'workq'
    singularity.enabled = true
    singularity.runOptions = '--bind /hpcnfs,/hpcscratch'
    executor.queueSize = 50
    executor.submitRateLimit = '50/1min'
    executor.exitReadTimeout = '5 min'
  }
  hpc_nocg {
    // workDir = '/.../'
    executor.name = 'pbspro'
    process.queue = 'nocg_workq'
    singularity.enabled = true
    singularity.runOptions = '--bind /hpcnfs,/hpcscratch'
    executor.queueSize = 50
    executor.submitRateLimit = '50/1min'
    executor.exitReadTimeout = '5 min'
  }
  hpc_garr {
    // workDir = '/.../'
    singularity.enabled = true
    singularity.runOptions = '--bind /data'
  }

}


//


// Processes
process {
    
  errorStrategy = 'retry'
  maxRetries = 3
  // scratch = '/scratch' 

  
  //

  // Long-reads
  withName: BLAZE {
    cpus = 8
    memory = { 1.GB * task.attempt }
    container = 'acox1/mi_to:1.3'
  } 
  withName: MERGE_READS {
    cpus = 4
    memory = { 1.GB * task.attempt }
    container = 'acox1/mi_to:1.3'
  }
  withName: MINIMAP2 {
    cpus = 6
    memory = { 10.GB * task.attempt }
    container = 'acox1/mi_to:1.3'
  }
  withName: FIXTAGS {
    cpus = 1
    memory = { 1.GB * task.attempt }
    container = 'acox1/mi_to:1.3'
  }
  withName: SPLIT_BAM {
    cpus = 4
    memory = { 10.GB * task.attempt }
    container = 'acox1/mi_to:1.3'
  }
  withName: CONSENSUS {
    cpus = 1
    memory = { 1.GB * task.attempt }
    container = 'acox1/mi_to:1.3'
  }
  withName: COLLAPSE {
    cpus = 1
    memory = { 1.GB * task.attempt }
    container = 'acox1/mi_to:1.3'
  }
  withName: GENOTYPING {
    cpus = 1
    memory = { 5.GB * task.attempt }
    container = 'acox1/mi_to:1.3'
  }

}
 
// Tracing
trace {
    enabled = true
    file = "trace.txt"
    overwrite = true
}

// Tracing
tower {
  // accessToken = 'eyJ0aWQiOiAyNn0uODg3NGVhMDMzZjdiNjBkMGUwMTRlNjAyYjA2ODQ5NDBhYjNkODRiNw=='
  // endpoint= 'https://seqera.ieo.it/api'
  enabled = true
  // workspaceId = '178653702436441'
}
